DATABASE_URL="postgresql://apik:apik_password@localhost:5432/apik?schema=public"
MONGO_URL="mongodb://apik:apik_password@localhost:27017/apik?authSource=admin"
REDIS_URL="redis://localhost:6379"
ENCRYPTION_KEY_V1="dGhpc2lzYXZlcnlzZWNyZXRrZXkxMjM0NTY3ODkwMTI="
PORT=3000
